.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.95rem;
    background-color: white;
    border: 1px solid #121313;
    border-radius: 8px;
    overflow: hidden;
}

.admin-table thead {
    background-color: #f1f3f5;
}

.admin-table th,
.admin-table td {
    padding: 10px 14px;
    border-bottom: 1px solid #dee2e6;
    text-align: left;
    vertical-align: middle;
}

.admin-table th {
    font-weight: 600;
    font-size: 0.85rem;
    color: #343a40;
}



.admin-table td a {
    color: #007bff;
    text-decoration: none;
}

.action-select-global action {
    right: 10px;
    position: absolute;
}

.view-more-btn,
.expense-view-more,
.toggle-details-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}